@model Dog
@{
    ViewData["Title"] = "Add";
}
@if (TempData.ContainsKey("status"))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Великолепно!</strong> @TempData["status"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Добавьте породу</h1>

<div class="row" >
    <div class="col-6">
        <form asp-controller="Dog" asp-action="Add" method="post">
            <div class="form-group">
                <label asp-for="Breed"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreedInEnglish"></label>
                <input asp-for="BreedInEnglish" class="form-control" />
                <span asp-validation-for="BreedInEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origin"></label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCIGroup"></label>
                <select asp-for="FCIGroup" class="form-control">
                    <option value="1">FCI 1</option>
                    <option value="2">FCI 2</option>
                    <option value="3">FCI 3</option>
                    <option value="4">FCI 4</option>
                    <option value="5">FCI 5</option>
                    <option value="6">FCI 6</option>
                    <option value="7">FCI 7</option>
                    <option value="8">FCI 8</option>
                    <option value="9">FCI 9</option>
                    <option value="10">FCI 10</option>
                    <option value="0">Непризнанные FCI</option>
                </select>                
            </div> 
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BehaviorCharacter"></label>
                <textarea asp-for="BehaviorCharacter" class="form-control" rows="10"></textarea>
                <span asp-validation-for="BehaviorCharacter" class="text-danger"></span>
            </div>
            <button class="btn btn-outline-primary w-25 mt-2">Add</button>
        </form>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}