@model IEnumerable<Dog>
@{
    ViewData["Title"] = "FCI1";
}

<h1>Группа FCI 1 - Пастушьи и скотогонные собаки</h1>
<p>
    Породы этой группы, как следует из названия, выведены из пастушьих собак. 
    Эти «пастухи» использовались как для охраны домашних животных и ферм, 
    так и для управления стадами и гуртами скота. Овчарки первой группы 
    веками приучались работать в тесном контакте с человеком. Поэтому из 
    них получаются прекрасные служебные и спортивные собаки, так как 
    склонность к послушанию, выносливость и работоспособность закреплены отбором. 
    В то же время, эти собаки часто недоверчивы к посторонним, активны и требуют 
    воспитания. Из них получаются прекрасные компаньоны, но они больше подходят 
    для активного человека. Несмотря на присущие многим представителям этой группы
    сторожевые качества, они не склонны к доминированию. Для группы типичен шерстный 
    покров средней длины (жесткошерстные и длинношерстные породы в этой группе редки), 
    эти собаки жизнестойки, неприхотливы и легко приспосабливаются к любому климату.
    Могут жить как в городской квартире, так и круглый год на открытом воздухе.
    Размер - от среднего до крупного. Самые известные представители группы - немецкая и 
    шотландская (колли) овчарки.
</p>
<h1>Все породы FCI Group 1</h1>
<div class="row">
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            @if (item.FCIGroup == "1")
            {
                <partial name="_DogCardPartial" model="@item"></partial>
            }
        }
    }

</div>

