@model IEnumerable<Dog>
@{
    ViewData["Title"] = "FCI10";
}

<h1>Группа FCI 10 - Борзые</h1>
<p>
    Это - самые быстрые собаки на Земле, их задача - поймать убегающего зверя. 
    Своенравные, с большим чувством собственного достоинства, но вместе с тем 
    необычайно интеллигентные и импозантные собаки. Требуют продолжительных прогулок.
    С борзыми можно заниматься собачьими бегами. Требуют мягкого и тактичного воспитания.
    Размер - от малого до гигантского. В группе есть породы со всеми типами шерстного покрова.
</p>
<h1>Все породы FCI Group 10</h1>
<div class="row">
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            @if (item.FCIGroup == "10")
            {
                <partial name="_DogCardPartial" model="@item"></partial>
            }
        }
    }

</div>
