@model IEnumerable<Dog>
@{
    ViewData["Title"] = "FCI3";
}

<h1>Группа FCI 3 - Терьеры</h1>
<p>Терье́ры (англ. terrier из фр. chien terrier — «норная собака», 
    и фр. terrier — «нора, логово» (в современном языке означает 
    также и породу собак) от фр. terre и лат. terra — «земля») — 
    группа пород собак, предназначенных для охоты на норных животных
    и борьбы с грызунами[1][2]. Терьеры — это собаки любой из многих 
    пород или аборигенных пород типа терьера, которые, как правило, 
    маленькие, жилистые, ловкие и отважные[3]. Породы терьеров сильно 
    различаются по размеру от 1 кг (2 фунта) до 32 кг (71 фунт) и обычно 
    классифицируются по параметрам или особенностям. Существует пять 
    различных групп терьеров, каждая из которых имеет разные формы и размеры.</p>
<h1>Все породы FCI Group 3</h1>
<div class="row">
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            @if(item.FCIGroup=="3")
            {
                <partial name="_DogCardPartial" model="@item"></partial>
            }
            
        }
    }

</div>
