@model IEnumerable<Dog>
@{
    ViewData["Title"] = "FCI4";
}

<h1>Группа FCI 4 - Таксы</h1>
<p>
    Та́кса (нем. Dachshund, dackel) — порода южно-немецких норных охотничьих собак.
    Существует несколько разновидностей такс, отличающихся размерами и весом — 
    стандартные, миниатюрные и кроличьи. Также такс разделяют по шёрстному 
    покрову на гладкошерстных, длинношёрстных и жесткошёрстных.Таксы имеют 
    множество окрасов. Наиболее распространены чёрно-подпалый, рыжий, коричнево-подпалый,
    мраморный (чёрный и коричневый мрамор). Встречаются таксы тигрового и чёрного 
    с тигровыми подпалинами окрасов, последний на данный момент является не признанным 
    FCI окрасом такс. У жесткошёрстных видов очень распространен кабаний окрас 
    (в других разновидностях он не признан). В последнее время в России 
    стал встречаться кремовый (палевый) окрас у длинношёрстных разновидностей, 
    но он не признан FCI. Работа с этим окрасом ведется в рамках UCI.
</p>
<div class="row">
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            @if (item.FCIGroup == "4")
            {
                <partial name="_DogCardPartial" model="@item"></partial>
            }
        }
    }

</div>
